/*.mui-table-view-cell>a:not(.mui-btn).mui-active{
	background-color: #2571bf;
}*/
.lanset li{
	height:52px;
	line-height: 30px;
}
.lanset .mui-icon{
	color:#2571af;
	font-size: 30px;
	font-weight: bold;
	float: right;
}
.mui-card{
	margin: 5px;
}
.card-tit span{
	font-size: 12px;
	color: #aaa;
}
.userinfo{
	padding: 10px;
	height: 70px;
}
.avatar{
	width: 50px;
	float: left;
	margin: auto 20px;
	border-radius: 50%;
}
.lowercase{
	font-size: 16px;
	font-weight: bold;
	color:#5a7391;
}
.upcase{
	font-size: 12px;
	color:#5b9bd1;
}
.userinfo-detail{
	padding: 10px;
	margin-left: 20px;
}
.info-tit{
	color:#7f90a4;
	font-size:16px;
	font-weight: bold;
	padding-top: 10px;
}
.userinfo-detail .mui-icon{
	display: inline-block;
	width:12px;
	height:12px;
	line-height: 12px;
	font-size: 12px;
	border-radius: 3px;
	text-align: center;
	margin-right:10px;
	background-color: #abb6c4;
	color:#fff;
}
.change{
	font-size: 14px;
	font-weight: bold;
	color: #578ebe;
	padding: 15px 24px 0 24px;
}
.change p{
	float: right;
	color: #666;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 0;
}
.change .activate{
	color: #404040;
	border-bottom: 2px solid #36c6d3;
}
.change p span{
	display: inline-block;
	height: 30px;
}
.change p .changeinfo{
	margin-right: 10px;
}
.info-form, .pwd-form{
	padding: 24px;
}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
	height:34px;
	border: 1px solid #c2cad8;
}
.mui-row .middle{
	height: 34px;
	line-height: 34px;
}
.confirm{
	background-color: #36c6d3;
	color: #fff;
	border:1px solid #fff;
}
.hide{
	display: none;
}
#info .fixed-circle{
	bottom: 10px;
}
#cashierpage .content .mui-table-view-cell.mui-collapse .mui-collapse-content{
	padding: 0;
}
#cashierpage .mui-collapse-content li p{
	font-size: 13px;
}
#cashpage .content,#cashierpage .content{
	padding: 20px;
}